/* Estilos para el modo claro */

/* Fondo claro */
.root {
    -fx-background-color: #f5f5f5;
}

.header {
    -fx-background-color: #cccccc;
}

.suggestions-list-view {
    -fx-background-color: #f0f0f0;
}

/* Texto negro */
.label,
.button,
.text-field,
.text-area,
.combo-box {
    -fx-text-fill: black;
}

/* Botón de búsqueda */
#searchField {
    -fx-background-color: #e0e0e0;
    -fx-text-inner-color: black;
    -fx-background-radius: 20;
}

/* ListView de sugerencias */
#suggestionsListView {
    -fx-background-color: #e0e0e0;
}

/* Menú lateral */
#hboxGeneros,
#hboxArtistas,
#hboxPlaylist,
#hboxMusicaGuardada,
#hboxtabla {
    -fx-background-color: #e0e0e0;
}

/* Separadores */
Separator {
    -fx-background-color: black;
}

/* Botón de compra */
#comprarButton {
    -fx-background-color: orange;
    -fx-background-radius: 20;
}

/* Botón de descarga */
#exportarPdf {
    -fx-background-color: black;
    -fx-border-color: black;
}

/* Texto de la tabla */
.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
}

.table-view .column-header,
.table-view .table-cell {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #707070;
}

/* Botón de salir */
#salir {
    -fx-background-color: #e0e0e0;
}

/* Cambio de cursor */
#MenuAlbums,
#hboxGeneros,
#hboxArtistas,
#hboxPlaylist,
#hboxMusicaGuardada,
#salir {
    -fx-cursor: hand;
}
